html {
    background-color: #f1faee;
    /* #e7ecef; */
    color: #1d3557;
    /* #2d3142; */
    /* #cbd4c2; */
}


h1 {
    text-align: center;
    font-weight: 800;
    font-size: 2.25em;
    font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
    color: #50514f;
    position: static;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    /* text-decoration: rgb(28, 4, 4) underline; */
    /* letter-spacing: 5px; */
}

#Banner {
    /* text-align: center; */
    /* position: relative; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;


}

#BannerImage {
    height: auto;
    width: 25%;
}

#SectionGrid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.Sections,
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sections {
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #e63946;
}

#BannerSubtitle {
    font-weight: 800;
    font-size: 2.5em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #e63946;
}

#BannerBlurb {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1d3557;
}

p {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    justify-content: center;
}

img {
    height: 5em;
    width: 6em;
    /* background-color: #a8dadc; */
    padding: 0.25em;
    border-radius: 15%;
    border: solid black;

}


/* figure {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* 
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */

/* 
h2 {}

h3 {}

p {}

--font-colour1: #023047 font-family: 'Mukta',
sans-serif;


a {
    text-decoration: none;
}

p {
    line-height: 2;
} */