html {
    background-color: #181818;
    color: #fef4f6;
}

/* (learning) i had used a direct desendant selector here, while a descendant selector can do the the trick once i changed the structure of Nav */
nav a {
    text-decoration: none;
    color: #fef4f6;
}

#IconAbhishek {
    color: #ea552a;
    font-weight: 800;
}

#TopNav {
    /* TODO: add responsive code for when width is smaller as it mushes together right now  */

    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5%;
    padding-top: 1.25em;
    padding-bottom: 0.25em;
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
}


#TopNavTopics {
    display: flex;
    justify-content: space-between;
    width: 40%;
    flex-shrink: 0.5;
}

#TopNavTopics a:hover {

    color: #55E6A5;
}


#TopNavContact {
    font-weight: 100;
    border: solid 1px #fef4f6;
    padding-left: 0.75em;
    padding-right: 0.75em;
    /* border-radius: 0.1em; */
}

#TopNavContact:hover {

    /* text-decoration: underline; */
    color: #55E6A5;
    border: solid 1px #55E6A5;

}


#Banner {
    width: 100%;
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#BannerImage {
    height: auto;
    width: 22.5%;
    border-radius: 15%;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1.5;
}

#BannerSubtitle {
    font-weight: 800;
    font-size: 2.25em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #fef4f6;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    width: 60%;
}

#BannerBlurb {
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 0px;
    width: 45%;
    /* justify-content: center; */
    text-align: center;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #fab228;
    /* #fef4f6; */
    flex-grow: 1.5;
}

p {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #001219;
    width: 60%;
    justify-content: center;
}

#ExploreMore {
    height: 2.7em;
    width: 10em;
    background-color: #55E6A5;
    color: #181818;
    /* border-radius: 0.25em; */
    font-weight: 600;
    margin-top: 2%;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;


}

#ExploreMore:hover {

    text-decoration: underline;
}

#Sections {
    display: flex;
    margin-top: 2%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

#Sections a {
    font-weight: 700;
    font-size: 1.75em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #fab228;
    /* #fef4f6; */
    text-decoration: none;
}


h1 {
    font-weight: 800;
    font-size: 6em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #ea552a;
    display: flex;
    /* margin-top: 2%; */
    justify-content: center;
    /* width: 1%; */
}