html {
    background-color: #181818;
    color: #fef4f6;
}

/* (learning) i had used a direct desendant selector here, while a descendant selector can do the the trick once i changed the structure of Nav */
nav a {
    text-decoration: none;
    color: #fef4f6;
}

#IconAbhishek {
    color: #ea552a;
    font-weight: 800;
}

#TopNav {
    /* TODO: add responsive code for when width is smaller as it mushes together right now  */

    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    background-color: rgba(18, 18, 18, 0.95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5%;
    padding-top: 1.25em;
    padding-bottom: 0.25em;
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;


}


#TopNavTopics {
    display: flex;
    justify-content: space-between;
    width: 40%;
    flex-shrink: 0.5;
}

#TopNavContact {
    font-weight: 100;
    border: solid 1px #fef4f6;
    padding-left: 0.75em;
    padding-right: 0.75em;
    /* border-radius: 0.1em; */
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 2.25em;
    font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
    color: #001219;
    /* color: #50514f; */
    position: static;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    /* text-decoration: rgb(28, 4, 4) underline; */
    /* letter-spacing: 5px; */
}

#Banner {
    /* text-align: center; */
    /* position: relative; */
    width: 100%;
    display: flex;
    margin-top: 7%;

    /* FIND out if width and height mean nothing in flexbox
    Find out how to send content to background when scrolling over nav thats fixed at the top 
    find out correct way of dividng the page into sections, whats above fold, below fold*/
    /* height: 40%; */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    flex-basis: 95%;
    justify-content: space-evenly;


}

#BannerImage {
    height: auto;
    width: 20%;
    border-radius: 15%;
}

#SectionGrid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.Sections,
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1.5;
}

.Sections {
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #fef4f6;
    /* #e63946; */
}

#BannerSubtitle {
    font-weight: 800;
    font-size: 2.25em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #fef4f6;
    /* #fab228 */
    /* color: #e63946; */
    display: flex;
    margin-top: 2%;
    justify-content: center;
    width: 60%;
}

#BannerBlurb {

    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 60%;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    color: #fef4f6;
    flex-grow: 1.5;
    /* color: #343636; */
}

p {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    color: #001219;
    width: 60%;
    justify-content: center;
}

#ExploreMore {
    height: 2.5em;
    width: 9em;
    background-color: #55E6A5;
    color: #181818;
    /* border-radius: 0.75em; */
    font-weight: 500;
    margin-top: 2%;
    /* padding: 0em; */
    /* #f1faee; */
    font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;


}

.Sections>img {
    height: 5em;
    width: 6em;
    /* background-color: #a8dadc; */
    padding: 0.25em;
    border-radius: 15%;
    border: solid black;

}